* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color          : var(--text-color);
    font-size      : 18px;
}

a:hover {
    color: #0aff95;
}

/* navbar */
.navbar {
    background-color: var(--body-color);
    padding         : 10px 20px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    gap             : 40px;
    min-height      : 70px;
}


/* logo  */
.logo img {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    align-self     : center;
    max-width      : 75px;
}


/* ul  */
.navMenu {
    margin-left    : auto;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    gap            : 40px;
}

/* connect wallet button */
.connectWalletButton {
    padding      : .4em 1em;
    background   : #0aff95;
    color        : black;
    border-radius: 4px;
    font-weight  : 600;
    font-size    : 15px;
}

.connectWalletButton:hover {
    background: linear-gradient(-100deg, #0aff95 0%, #44b77e 100%);
    color     : #1a1b1d;
}

/* media queries */

@media screen and (max-width: 780px) {

    /* hamburger */
    .hamburger {
        display    : block;
        cursor     : pointer;
        margin-left: auto;
    }

    .bar {
        background-color  : #0aff95;
        width             : 20px;
        height            : 3px;
        display           : block;
        margin            : 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition        : 0.3s ease-in-out;
    }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu {
        position        : absolute;
        flex-direction  : column;
        gap             : 0;
        top             : 70px;
        left            : -100%;
        text-align      : start;
        width           : 100%;
        transition      : 0.7s ease-in-out;
        background-color: #1a1b1d;
        padding         : 1em;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}