.hero {
    margin: 2em;
}

.subhero {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : left;
    gap            : 1em;
}

.subhero h1 {
    font-size  : 44px;
    font-weight: bold;
}

.subhero p {
    font-size  : 18px;
    line-height: 1.4;
}

.subhero button {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    align-items     : center;
    gap             : 6px;
    width           : fit-content;
    background-color: #16b66a;
    color           : white;
    font-weight     : 900;
    border-radius   : 4px;
    border          : none;
    text-align      : center;
    padding         : 1em;
    cursor          : pointer;
}

.subhero button:hover {
    background: #1e854f;
    ;
}